.container-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 100%;
    height: 100%; */
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 25%;
    margin-top: 0px;
    margin-left: 450px;
}
h1{
    text-align: center;
    margin-top: 100px;
    color: #bf504f; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px; 
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="email"]:focus,
input[type="text"]:focus {
    border-color: var(--colore-primario);
    outline: none;
}

textarea{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem; 
}

.form-text {
    font-size: 0.875rem;
    color: #6c757d;
}

.form-check {
    margin-bottom: 1rem;
}

.form-check-label {
    font-size: 0.875rem;
}

.form-check-input {
    margin-right: 0.5rem;
}

button {
    padding: 0.8rem 1.5rem;
    background-color: var(--colore-primario);
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
}

button:hover {
    border: 2px solid #bf504f;
    background: white;
    color: black;
}